<table class="table">
    <thead>
        <tr>
            <th scope="col">@Model.Name</th>
            <th scope="col">@Model.Id</th>
            <th scope="col">@Model.DoctorName</th>
        </tr>
    </thead>
</table>