<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-4">
            <div class="card" style="height: 100%;">
                <div style="height: 100%">
                    <img src="~/images/@item.Img" class="card-img-top" height="100%">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.Name </h5>
                    <p class="card-text">@item.Specialization</p>
                    <a href="https://localhost:7036/Home/Show?DoctorsId=@item.Id" class="btn btn-primary">Book</a>
                   
                 
                </div>
            </div>
        </div>
    }
</div>